<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raj.and.dev.orientationsdk" >
    <application
        android:allowBackup="true">

        <service
            android:name="raj.and.dev.common.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="raj.and.dev.service.AIDL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>
